<section class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Here are some key points about standalone components</h2>
      <div appHighlight>
        <ul class="list-group">
          <li class="list-group-item">
            <b>No NgModule:</b> Standalone components don't need to be declared in any NgModule.
          </li>
          <li class="list-group-item">
            <b>Simpler Development:</b> They streamline the development experience by reducing boilerplate code.
          </li>
          <li class="list-group-item">
            <b>Can be used with NgModules:</b> Standalone components can still be used alongside components within NgModules.
          </li>
        </ul>
      </div>
      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="text-center mt-3">
    <button class="btn btn-primary" (click)="onClick()">{{ action }}</button>
  </div>
</section>




